
/*MEDIA*/
@media (max-width: 1024px) {

    /*HEADER*/
    header.section .container {
        max-width: none;
        height: auto;
        padding: 0 20px;
    }

    header .menu-group,
    header .sign-group {
        float: none;
    }

    header .menu-group {
        display: block;
    }

    header .logo {
        padding: 14px 0 20px;
    }

    header .main-menu {
        display: block;
        margin-bottom: 10px;
    }

    header .main-menu li {
        border-top: 1px solid #e5e5e5;
    }

    header .main-menu li a {
        padding:  16px 0;
    }

    header .sign-group {
        display: block;
        padding: 10px 0 20px;
    }

    header .btn-group {
        display: block;
    }

    header .btn-group .btn {
        justify-content: center;
    }

    header .btn-group .sign-in {
        margin-right: 0;
        margin-bottom: 12px;
    }

    #search-form {
        margin-top: 12px;
        margin-right: 0;
    }

    #search {
        width: 100%;
        height: 42px;
        text-align: center;
    }

    header .sub-menu {
        margin-top: 12px;
        margin-right: 0;
        justify-content: center;
    }

    header .toggle {
        display: none;
    }

    header .toggle.on {
        display: block;
    }

    #toggle-btn {
        display: block;
    }

    /*VISUAL*/
    .section--visual .container .text .text__title {
        font-size: 40px;
        padding: 0 24px;
    }
    .section--visual .container .text .text__description {
        font-size: 24px;
        padding: 10px 30px;
    }

    /*FEATURE*/
    .section--feature .tiles ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .section--feature .tiles li:nth-child(2) {
        border-right: none;
    }
    .section--feature .tiles li img {
        padding: 14px 30% 24px;
        height: 100%;
    }

    /*WHERE   */
    .section--where-is .container {
        max-width: none;
        padding: 80px 20px 0 20px;
    }

    /*FOOTER*/
    footer .container {
        padding: 50px 20px;
    }
}